*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
}
.Nav{
  background-color: #32b350;
  margin: 10px 0;
}

.username{
  background-color: aqua;
}